<!-- <div class="container">
    <div class="row">
        <tr *ngFor=" let blogPost of blogPosts">
        <section class="col-md-8">
            <article class="blog-item">
                <div class="row">
                    <div class="col-md-4">
                        <img style="height:200px;width:100%; float:initial;margin-top:20px" src="{{blogPost.blogImages}}">
                    </div>

                </div>
            </article>
        </section>
        </tr>
    </div>
</div> -->
<H1>GALLERY</H1>