<main>
    <ng-container *ngIf="blogPosts">
    <div class="container">
        <div class="row">
           
                <section class="col-md-8">
                    <article class="single-blog-item">
                        <div class="list-item">
                            <img src= {{blogPosts.blogImages}} class="img-responsive center-block">
                            <div class="col-md-8 col-md-offset-2">
                            </div>
                            <div class="row">
                            </div>
                            
                        </div> 
                        <h1 style="font-family:monospace">{{blogPosts.blogTitle}}</h1>
                        <p style="font-family:monospace">{{blogPosts.blogContent}}</p>
                        <p style="color:indigo">Post by:<a style="color:teal; font-size: 22px;"></a></p>
                    </article>
                    <body>
                      <div class="container">
                        <div class="row">
                          <div class="col-12">
                            <div class="comments">
                              <div class="comments-details">
                              </div>
                              <div class="comment-box add-comment">
                                <span class="commenter-pic">
                                  <img src="../../assets/img/unnamed.jpg" class="img-fluid">
                                </span>
                                <span class="commenter-name">
                                  <input type="text" placeholder="Add a public comment" name="Add Comment">
                                  <button type="submit" class="btn btn-default">Comment</button>
                                  <button type="cancel" class="btn btn-default">Cancel</button>
                                </span>
                              </div>
                              <div class="comment-box">
                                <span class="commenter-pic">
                                  <img src="../../assets/img/unnamed.jpg" class="img-fluid">
                                </span>
                                <span class="commenter-name">
                                  <a href="#"></a> <span class="comment-time"></span>
                                </span>       
                                <p class="comment-txt more"></p>
                                
                                <div class="comment-box add-comment reply-box">
                                  <span class="commenter-pic">
                                      <img src="../../assets/img/unnamed.jpg" class="img-fluid">
                                  </span>
                                  <span class="commenter-name">
                                    <input type="text" placeholder="Add a public reply" name="Add Comment">
                                    <button type="submit" class="btn btn-default">Reply</button>
                                    <button type="cancel" class="btn btn-default reply-popup">Cancel</button>
                                  </span>
                                </div>
                              </div>                            
                            </div>
                          </div>
                        </div>
                      </div>
                    </body>
                  </section>
                </div>    
        </div>
        
</ng-container> 
</main> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>