
<main style="background: ghostwhite;">
  <div class="container mt-5">
    <table class= "table">
      <div class="row">

          <section class="col-md-8">
            <tr *ngFor="let blogPost of blogPosts | slice: startIndex: endIndex">
              <article class="blog-item">
                  <div class="row">
                      <div class="col-md-3">
                          <a href="single_blog_page.html">
                              <img src="{{blogPost.blogImages}}" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                          </a>
                      </div>
                      <div class="col-md-9">
                          <p>
                          </p>
                          <h1 style="font-family:monospace">
                            <a  routerLink='/detailsBlog'
                            [queryParams]="{id: blogPost.blogID}">{{blogPost.blogTitle}}</a>

                        </h1>
                          <div class="ellips-text-3">
                            <p style="font-family:monospace">{{blogPost.blogContent}} </p>
                        </div>
                      </div>
                  </div>
              </article> 
              </tr>
          </section>       
      </div>
    </table>
  </div> 
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <!-- <li *ngFor=" let count of getArrayFromNumber(); let i=index" class="page-item">
        <a class="page-link" (click)="updateIndex(i)">{{i+1}}</a></li> -->

      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</main>
