<body>
    <div class="page-wrapper bg-white p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title" style="color:blue;">Create new Blog</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-row">
                            <div class="name">Title</div>
                            <div class="value">
                                <input #title class="input--style-6" type="text" name="full_name" placeholder="Blog's title">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Conntent</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea #content class="textarea--style-6" name="message" placeholder="Input blog's content"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Upload CV</div>
                            <div class="value">
                                <div class="input-group js-input-file">
                                    <input #img (change)="changeImg($event)" class="input-file" type="file" name="files" accept="image/*">
                                </div>
                                <div class="label--desc">Upload blog's image</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn--radius-2 btn--blue-2" type="submit"  (click)="createBlog(title.value, content.value)">Post</button>
                </div>
            </div>
        </div>
    </div>
</body>
