<body id="designInspirationPage">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Blog's Tiep</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['gallery']" style="color: black;">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: black;" [routerLink]="['createBlog']" >Create blog</a>
       </li>
        <li class="nav-item">
            <a class="nav-link " style="color: black;" [routerLink]="['login']">Login</a>
            <!-- <router-outlet></router-outlet> -->
          </li>
        <li class="nav-item">
           <a class="nav-link"  style="color: black;" href="#">Register</a>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>
<header class="page-head">
</header>
</body>
